.wrap {
    max-width: 960px;
    margin: 0 auto;
}

#nav-example {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background: #333;
    transform: translateX(-100%);
    transition: transform 0.3s ease;

    &.open {
        transform: translateX(0);
    }
}
